{% extends "layoutHome.html.twig" %}

{% block title %}
  WebSiteName
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/styleHome.css') }}">
{% endblock %}

{% block body %}
  <div id="metalBanner">
    <div id="titleBanner">
      <h1>WebSiteName</h1>
      <p>Le métal dans toute sa splendeur</p>
    </div>
  </div>

  <div id="lastsNewsCategory">
    <h2>Dernieres actualités</h2>
    <div id="lastsNews">
      {% for news in lastNews %}
        <div class="lastPost">
          <div class="imgLastPost">
            <a href="{{ path('hv_news_currentevents', {'id': news.id}) }}"><img src="{{ asset('images/' ~ news.imageUrl) }}" alt="images dernieres news" width="100%" height="100%">
          </div>
          <h3><a href="{{ path('hv_news_currentevents', {'id': news.id}) }}"> {{ news.title }} </a></h3>
          <i>Ecrit par {{ news.users.login }} le {{ news.dateNews|date('d/m/Y') }}</i>
        </div>
      {% endfor %}
    </div>
    <a href="{{ path('hv_news_listnews') }}"><button class="btn btn-lg btn-dark" id="moreNews">Voir plus d'actualités</button></a>
  </div>
  <div id="forumHome">
    <div id="titleForumHome">
      <div id="titleAndClickForum">
        <div id="clickForum">
          <p>Cliquez ici pour accéder au forum</p>
        </div>
      </div>
    </div>
  </div>

  <div id="contact">
    <h2>Contactez-nous</h2>
    <h2>ICI UN FORMULAIRE</h2>
  </div>

{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/scrollHomePage.js') }}"></script>
  {% if errorMessage == 1 %}
    <script type="text/javascript">
      $(document).ready(function(){
        $('#modalConnection').modal('show');
         });
    </script>
  {% endif %}
{% endblock %}
