{% extends "@HVNews/layout.html.twig" %}

{% block hvnews_body %}
  <br /><br />
  <h1>Éditer une actualité</h1>
  <br />
  <div id="editNewForm" class="jumbotron">
    {{ form_start(formNew) }}

    {{ form_errors(formNew) }}

    <div class="form-group">
      {{ form_label(formNew.title, "Titre de l'actualité : (*)") }}
      {{ form_widget(formNew.title, {'value' : new.title }) }}
      {{ form_errors(formNew.title) }}
    </div>

    <div class="form-group">
      {{ form_label(formNew.content, "Contenu de l'actualité : (*)") }}
      {{ form_widget(formNew.content, {'value' : new.content }) }}
      {{ form_errors(formNew.content) }}
    </div>

    <div class="form-group">
      {{ form_widget(formNew.inCarousel) }}
      {{ form_errors(formNew.inCarousel) }}
    </div>

    <div class="form-group">
      {{ form_label(formNew.imageUrl, "Selectionnez l'image de l'actualité : (*)") }}
      {{ form_widget(formNew.imageUrl) }}
      {{ form_errors(formNew.imageUrl) }}
    </div>

    <br /><br />
    {{ form_widget(formNew.save, {'label' : "Éditer l'actu"}) }}
    {{ form_rest(formNew) }}
    {{ form_end(formNew) }}
  </div>
  <br /><br />
{% endblock %}
