{% extends "@HVForum/layout.html.twig" %}

{% block hvforum_body %}
  <div class="container">
    {% for category in listCategory %}
      <h2>{{ category.name }}</h2><hr />
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th style="width:70px"></th>
            <th style="width:600px">Forum</th>
            <th>Dernier message</th>
            <th style="text-align:center">Sujets</th>
            <th class="hidden" style="text-align:center">Posts</th>
          </tr>
        </thead>
        <tbody>
          {% for section in listSection %}
            {% if section.forumCategory.id == category.id %}
              <tr>
                {% set countTopic = 0 %}
                {% set countPost = 0 %}
                {% set lastPostUsers = null %}
                {% set lastPostDate = null %}
                {% set datePostDate = null %}
                {% set topicNoRead = 0 %}

                {% for topic in listTopic %}
                  {% if topic.forumSection.id == section.id %}
                    {% for topicView in listTopicView %}
                      {% if app.session.get('User') != null %}
                        {% if topicView.forumTopic.id == topic.id and app.session.get('User').id == topicView.users.id %}
                          {% set topicNoRead = 1 %}
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                    {% set countTopic = countTopic + 1 %}
                    {% for post in listPost %}
                      {% if post.forumTopic.id == topic.id %}
                        {% set countPost = countPost + 1 %}
                        {% set lastPostUsers = post.users.login %}
                        {% set datePostDate = post.datePost %}
                        {% set lastPostDate = post.datePost|date('d/m/Y à H:i') %}
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}

                {% if app.session.get('User') != null %}
                  {% if topicNoRead == 0 %}
                    <td style="text-align:center"><img src="{{ asset('images/forum/metal-icon-nomessage.png')}}" alt="" width="25px"/></td>
                  {% else %}
                    <td style="text-align:center"><img src="{{ asset('images/forum/metal-icon-newmessage.png')}}" alt="" width="25px"/></td>
                  {% endif %}
                {% else %}
                  <td style="text-align:center"><img src="{{ asset('images/forum/metal-icon-nomessage.png')}}" alt="" width="25px"/></td>
                {% endif %}
                <td><h4><a href="{{ path('hv_forum_section', {'url' : section.url}) }}">{{ section.name }}</a></h4></td>
                {% if lastPostUsers != null %}
                  <td>Par {{ lastPostUsers }} le {{ lastPostDate }}</td>
                {% else %}
                  <td>Aucun nouveau message</td>
                {% endif %}
                <td style="text-align:center">{{ countTopic }}</td>
                <td class="hidden" style="text-align:center">{{ countPost }}</td>

              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
      <br />
    {% endfor %}
  </div>




{% endblock %}
