{% extends "@HVForum/layout.html.twig" %}

{% block hvforum_body %}

  <div id="forumTable">
    <h2>{{ nameTopic }}</h2><hr />
    <div class="forum_tools">
      {% include "@HVForum/Forum/pagination.html.twig" %}
      <div class="buttonForum">
        {% if app.session.get('User') != null %}
          <a href="{{ path('hv_forum_post_add', {'url' : urlSection, 'id': id }) }}"><button class="btn btn-dark">Répondre</button></a>
        {% endif %}
        <a href="{{ path('hv_forum_section', {'url' : urlSection }) }}"><button class="btn btn-dark">Retour au forum</button></a>
      </div>
    </div>
      {% set dateLastPost = null %}
      {% for post in listPost %}
        <div class="jumbotron post_forum">
          <div class="user_description">
            <img src="{{ asset('images/avatars/' ~ post.users.avatar) }}" alt="avatar user" width="75%"/>
            <p style="margin-top:10px;"><strong>{{ post.users.login }}</strong></p>
          </div>
          <div class="user_post">
            <i style="font-size:0.9em">Le {{ post.datePost|date('d/m/Y à H:i') }}</i><hr/>
            {% set dateLastPost = post.datePost %}
            <p>{{ post.content }}</p>
          </div>
        </div>
      {% endfor %}

      {# {% set addTopicVisited = {'idTopic': idTopic, 'datePost': dateLastPost} %}
      {% set lastTopicVisited = app.session.get('LastTopicVisited') %}
      {% if app.session.get('LastTopicVisited') != null %}
        {% set lastTopicVisited = app.session.get('LastTopicVisited') %}
        {% for lastTopic in lastTopicVisited %}
          {% set index = loop.index0 %}
          {% if lastTopic.idTopic == idTopic and lastTopic.datePost != dateLastPost %}
              {{ app.session.set('LastTopicVisited', lastTopicVisited|merge([addTopicVisited])) }}
          {% endif %}
        {% endfor %}
      {% else %}
        {{ app.session.set('LastTopicVisited', [addTopicVisited]) }}
      {% endif %}
        {% set test = lastTopicVisited.2.idTopic == "" %}
      {% include "@HVForum/Forum/pagination.html.twig" %} #}

  </div>

{% endblock %}
